name: Actions

on: [push, pull_request]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List Files
        run: |
          pwd
          ls
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"
      - name: Checkout
        uses: actions/checkout@v1
      - name: List Files
        run: |
          pwd
          ls -a
      - name: simple javascript Actions
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: Mahesh Nagmal
      - name: Log Greetings Time
        run: echo "${{ steps.greet.outputs.time }}"
        