name: Docker

on:[push]

jobs:
    deploy:
        name: Setup Gcloud Account
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2

        - name: Build Docker image
          run: docker build . -t test-image

        - name: Test Docker image
          run: docker run test-image sh -c "go test -v"
