name: Deploy to Dev

on: push

jobs:
  my-job:
    name: Connect Server
    runs-on: ubuntu-latest
    steps:
      - name: Host
        uses: appleboy/ssh-action@master
        with:
          host: "35.202.167.42"
          username: eladmin7302021
          key: ${{ secrets.PRIVATE_SSH_KEY }}
          script: |
            whoami
            ls -al
