# name: SSH Test

# on: push

# jobs:
#   run-shell-command:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Run a command remotely
#         run: |
#           echo "${{ secrets.PRIVATE_SSH_KEY }}" > key.pem
#           chmod 400 key.pem
#           ssh -i key.pem eladmin7302021@35.202.167.42
name: Workflows with large secrets

on: push

jobs:
  my-job:
    name: My Job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Decrypt large secret
        run: ./decrypt_secret.sh
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      # This command is just an example to show your secret being printed
      # Ensure you remove any print statements of your secrets. GitHub does
      # not hide secrets that use this workaround.
      - name: Convert File to key.pem
        run: |
          cd ~/secrets
          ls
          openssl rsa -in ./el-dev-vm2.key -text > el-dev-vm2.pem
          chmod 400 el-dev-vm2.pem
          ls
      #  run: openssl rsa -in $HOME/secrets/el-dev-vm2.key -text > el-dev-vm2.pem
      - name: Test printing your secret (Remove this step in production)
        run: |
          ls $HOME/secrets/
          cat $HOME/secrets/el-dev-vm2.key
      - name: Run ssh
        run: |
          ssh -tt -o StrictHostKeyChecking=no -i $HOME/secrets/el-dev-vm2.pem eladmin7302021@35.202.167.42
          ls
          exit
